.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}


.img-social-icons {
    width: 64px;
    height: 64px;
}

#navbar-brand-title {
    background: #4aaaa5;
}

#navbar-brand-title-text {
    color: #fff;

}

.navbar-nav a{
    height: 100%;
    line-height: 100%;
}   