body {
    background: url("../pattern/pattern.png");
    height: 100%;
}

#body-section {
    margin: 15px auto;
}

.footer {
  position: sticky;
  display: block;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #ddd;
}

.img-social-icons {
    width: 64px;
    height: 64px;
}

#navbar-brand-title {
    background: #4aaaa5;
    padding: 0px 20px;
    text-align: center;
}

#navbar-brand-title-text {
    color: #fff;
    text-align: center;
    width: 100%;
}

.navbar-default {
    background: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

.navigation-bar  a {
    text-align: center;
    width: 33%;
    float: left;
    height: inherit;
    line-height: inherit;
}

#auth-img {
    max-width: 200px;
    height: auto;
    float: left;
    margin-right: 25px;
    display: inline-block;
}

p {
    font-size: 18px;
    display: block;
}

hr {
    margin-bottom: auto;
}

.panel-heading {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#submitBtn {
    background: #4aaaa5;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio-image {
    float: left;
    overflow: auto;
    padding: 0;
}

form {
    color: #777;
}

.portfolio-image img {
    margin: 3%;
    width: 94%;
}

.portfolio-image h3 {
    margin: 3%;
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
    width: 94%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #4aaaa5;
  border-bottom: 0;
}

@media (max-width: 980px) {
    #auth-img {
        max-width: 200px;
        height: auto;
        float: left;
        margin-right: 25px;
        display: inline-block;
    }
    
    .footer {
      position: sticky;
      display: block;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px;
      background-color: #ddd;
    }
}

@media (max-width: 768px) {
    #auth-img {
        max-width: 300px;
        height: auto;
        float: left;
        margin-right: 25px;
        display: inline-block;
    } 
    
    .footer {
      position: relative;
      display: block;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px;
      background-color: #ddd;
    }
}

@media (max-width: 640px) {
    #auth-img {
        max-width: 100%;
        height: auto;
        float: left;
        margin-right: 25px;
        display: inline-block;
    }    

    
    .footer {
      position: relative;
      display: block;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px;
      background-color: #ddd;
    }
}

